:root {
    --bg-light: hsl(34, 78%, 91%);
    --bg-menu: hsl(0, 3%, 25%);
    --input-color: hsl(0, 0%, 87%);
    --bg-dark: hsl(0, 3%, 10%);
}

body {
    background-color: var(--bg-light);
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.all {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: min(100px, 4dvw);
    transition: 0.2s;
}

.poke {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#img {
    width: min(300px, 40dvw);
    height: min(300px, 40dvw);
    margin-bottom: max(-10px, -3dvw);
}

#input {
    border-radius: 50px;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    background-color: var(--input-color);
    border: 0;
}

#input:focus {
    outline: none;
}

#score {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    margin-bottom: min(30px, 2dvw);
    transition: 0.2s;
}

#answer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    opacity: 0;
}

.menu {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--bg-menu);
    top: 0;
    right: -20%;
    transition: 0.5s;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: var(--bg-light);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10%;
    gap: 5%;
}

.menu:hover {
    right: 0%;
}

.boundaries {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.minDiv,
.maxDiv {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

#min,
#max {
    text-align: center;
}

#ok {
    border-radius: 15px;
    border: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
    border-radius: 15px;
    border: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.darkModeButton {
    background-color: var(--bg-light);
    border-radius: 50px;
    height: 40px;
    width: 40px;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    border-width: 0;
}

.darkModeButton:hover {
    background-color: hsl(34, 36%, 77%);
}

.darkBody {
    background-color: var(--bg-dark);
}

.darkText {
    color: var(--bg-light);
}

.menuIcon {
    display: none;
    height: 55px;
    width: 55px;
    position: absolute;
    right: 5px;
    top: 5px;
}

.panelMenuIcon {
    height: 70px;
    width: 70px;
    position: absolute;
    left: 1%;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu:hover>.panelMenuIcon {
    animation: rotation 7s linear infinite;
    transition: 1s;
}

@keyframes rotation {
    from {
        transform: translate(0, -50%) rotate(0);
    }

    to {
        transform: translate(0, -50%) rotate(360deg);
    }
}

.cog2 {
    stroke: var(--bg-light);
}

.cog {
    stroke: var(--bg-menu);
}

.darkCog {
    stroke: var(--bg-light);
}

.menuClose {
    display: none;
    height: 45px;
    width: 45px;
    position: relative;
    align-self: flex-start;
    left: 5px;
    top: 5px;
    background-color: hsl(0, 0%, 15%);
    border-radius: 7px;
}

.x {
    stroke: var(--bg-light);
    border-radius: 8px;
}

.flags {
    display: none;
    justify-content: space-between;
    gap: min(2dvw, 30px);
    margin-top: auto;
    margin-bottom: 30px;
}

.menu:hover>.menuContent>.flags {
    display: flex;
}

.flag {
    scale: 150%;
    display: none;
    border-radius: 1px;
    transition: 0.5s;
}

.flagFocus {
    box-shadow: 0px 0px 8px 1px var(--bg-light);
}

@media screen and (max-width: 1250px) {
    .menuContent {
        opacity: 0;
    }

    .menu:hover>.menuContent {
        transition: 0.5s;
        opacity: 1;
    }

    .flag {
        scale: 120%;
    }
}

@media screen and (max-width: 800px) {
    .all {
        margin-top: 1dvw;
    }

    #score {
        font-size: 1.3rem;
    }

    .menuContent {
        opacity: 1;
    }

    .menu {
        width: 45%;
        right: -45%;
    }

    .menuIcon {
        display: flex;
        align-items: center;
    }

    .menuClose {
        display: flex;
        align-items: center;
    }

    .panelMenuIcon {
        display: none;
    }
}